#title
{
  background: linear-gradient(to bottom, rgba(216,43,43,1) 0%,rgba(193,71,77,1) 47%,rgba(193,71,77,1) 47%,rgba(183,73,86,1) 61%,rgba(181,97,99,1) 100%); /* W3C */
  box-shadow: 0px 0px 3px 1px rgba(215,215,215,.5);
  width:100%;
  text-align:center;
}
#wrapper
{
  position:relative;
}
#foot
{
  background: linear-gradient(to bottom, rgba(181,97,99,1) 0%,rgba(183,73,86,1) 39%,rgba(193,71,77,1) 53%,rgba(193,71,77,1) 53%,rgba(216,43,43,1) 100%); /* W3C */
  width:100%;
  position:absolute;
  bottom:0;
  box-shadow: 0px 0px 3px 1px rgba(215,215,215,.5);
  text-align:center;
}
body
{
  background-color:#FFE8D9;
  background-image:url("background.jpg");
  background-size:cover;
  font-size:25px;
  font-family:Muli;
}
.center
{
  text-align:center;
}

button
{
  padding-top: 10px;
  padding-bottom: 10px;
  height:50px;
  font-size:1.5rem;
  color:#333;
  word-wrap: break-word
}

@media (max-width: 540px) {
  button
  {
    width:100%;
  }
}
h1
{
  font-family:Audiowide;
  font-size:50px;
  color:rgba(215,215,215,.9);
}
h2
{
  font-size:1.5rem;
  color:rgba(215,215,215,.9);
}
text
{
  color:rgba(215,215,215,.9);
}
a
{
  color: #520266;
  font-size:1.5rem;
}

a:hover
{
  color:#520266;

}
