#title
{
  background-color:#FF8939;
  box-shadow: 0px 0px 2px 2px #C55000;
  width:100%;
  text-align:center;
}
#wrapper
{
  position:relative;
}
#foot
{
  background-color:#FF8939;
  width:100%;
  position:absolute;
  bottom:0;
  box-shadow: 0px 0px 2px 2px #C55000;
  text-align:center;
}
body
{
  background-color:#FFE8D9;
  background-image:url("background.jpg");
  background-size:cover;
  font-size:25px;
  font-family:Muli;
}
.center
{
  text-align:center;
}

button
{
  padding-top: 10px;
  padding-bottom: 10px;
  height:50px;
  font-size:1.5rem;
  color:#333;
  word-wrap: break-word
}

@media (max-width: 540px) {
  button
  {
    width:100%;
  }
}
h1
{
  font-family:Audiowide;
  font-size:50px;
  color:#45332f;
}
h2
{
  font-size:1.5rem;
  color:rgba(220,220,220,.9);
}
a
{
  color: #520266;
  font-size:1.5rem;
}

a:hover
{
  color:#520266;

}
