#title
{
  background-color:#FF8939;
  box-shadow: 0px 0px 2px 2px #C55000;
  width:100%;
  text-align:center;
}
#foot
{
  background-color:#FF8939;
  width:100%;
  position:absolute;
  bottom:0;
  box-shadow: 0px 0px 2px 2px #C55000;
  text-align:center;
}
body
{
  background-color:#FFE8D9;
  background-image:url("background.jpg");
  background-size:cover;
  font-size:25px;
  font-family:Muli;
}
.center
{
  text-align:center;
}

button
{
  padding-top: 10px;
  padding-bottom: 10px;
  min-height:30px;
}

@media (max-width: 540px) {
  button
  {
    width:100%;
  }
}
h1
{
  font-family:Audiowide;
  font-size:50px;
}

a
{
  color: #520266;
}

a:hover
{
  color:#520266;
  
}
